.air-checkbox {
    vertical-align: middle;
    margin-right: .5rem;
    input {
        display: none;
    }
    label {
        cursor: pointer;
        position: relative;
        &:before {
            content: "";
            width: .75rem;
            height: .75rem;
            display: inline-block;
            border: .1rem solid setColorOpacity(color('tertiary'), .3);
            border-radius: 50%;
        }
    }

    input:checked + label {
        &:before {
            background-color: color('tertiary');
        }
    }

    &--inline {
        display: inline-block;
    }
}