.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.hide,
[hidden=""],
[hidden="true"], {
  display: none
}

.pull-right {
  float: right;
}

.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}