.air-notification {
  font-weight: 300;
  font-size: .9rem;
  position:relative;
  padding-top: .20rem;
  padding-left: 1rem;
  &--error {
    &:before {
      content: "";
      background-color: color('danger');
      position: absolute;
      height: .5rem;
      width: .5rem;
      left: 0;
      top: .45rem;
      border-radius: 50%;
    }
  }
}