
$root: '.air-plane';
#{$root} {
    position: relative;
    width: 19px;
    height: 16px;
    transform: rotate(90deg) scale(1, 1);
    &__icon {
        transform: rotate(var(--rotation));
        .material-icons {
          display: block;
          width: 15px;
        }
    }
    &--selected {
      #{$root} {
        &__icon {
          animation: blink-plane .5s ease-out infinite;
        }
      }
    }
    &--danger {
      color: color('danger');
    }
    &--warning {
      color: color('warning');
    }
    &__desc {
        font-size: .8rem;
        position: absolute;
        transform: rotate(-90deg) scale(1, -1);
        list-style: none;
        padding: .25rem;
        margin: 0;
        background-color: setColorOpacity(#000, .3);
    }
    &__axis {
      font-weight: font('weight', 'regular');
      font-size: .7rem
  }
}

@keyframes blink-plane {
  0%, 100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}