<table class="air-table air-table--sticky air-table--striped air-table--hover">
  <thead>
    <tr>
      <th width="30">
        <div class="air-checkbox air-checkbox--inline">
          <input name="todos" id="todos" type="checkbox" checked/>
          <label for="todos"></label>
        </div>
      </th>
      <th width="110">
        Identificação
      </th>
      <th class="text-center">
        x
      </th>
      <th class="text-center">
        y
      </th>
      <th class="text-center">
        <span title="Raio">r</span>
      </th>
      <th class="text-center">
        <span title="Ângulo">A</span>
      </th>
      <th class="text-center">
        <span title="Velocidade">V</span>
      </th>
      <th class="text-center">
        <span title="Distância">d</span>
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>